@model PaginatedList<WebshopHPWcore.Models.ApplicationUser>

@{
    ViewData["Title"] = "ShowUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowUsers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Gebruikersnaam
                </th>
                <th>
                    Emails
                </th>
                <th>
                    Telefoonnummers
                </th>
                <th>
                    Rollen
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @*@ViewData["userroles"]*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="UserDetails" asp-controller="Administrator" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
