@page
@model CarpageModel
@{
    ViewData["Title"] = "Carpage";
}
<h2>@ViewData["Title"]</h2>

<p>Autos</p>

<div class="filterstuk">
    <h2>Filterstukje</h2>
    <p>
        bla <br />
        bla <br />
        bla <br />
        bla <br />
        bla <br />
        bla <br />
        bla <br />
        bla <br />
        bla <br />
        bla <br />
        bla <br />bla <br />bla <br />bla <br />bla <br />bla <br />bla <br />bla <br />bla <br />bla <br />
        bla <br />
    </p>
</div>

<div class="row-auto">
    <div class="row-auto-plaatje">
        <div class="item">
            <img src="~/images/auto2.jpg" alt="Visual Studio" class="img-responsive" />
        </div>
        <button type="button" class="row-auto-knopje" data-toggle="collapse" data-target="#details">View more</button>
    </div>
    <div class="row-auto-titel">
        <h2>@ViewData["carheader"]</h2>     
    </div>
    <div class="row-auto-content">
        
        <div class="row-auto-content-col">
            <ul>
                @Html.Raw(ViewData["cardetails"])
                <li>asdgrdgrthgcrcfgugudfhcvbfg</li>
                <li>asdghfgxfvbfg</li>
            </ul>
        </div>
        
        <div id="details" class="row-auto-content-col">
            <ul>
                @Html.Raw(ViewData["cardetails"])
                <li>asdghfgxfvbfg</li>
                <li>asnvjmdhkfheskjsdhkfbfseregghug</li>
            </ul>
        </div>
    </div>
</div>

<div class="row-auto">
    <div class="row-auto-plaatje">
        <div class="item">
            <img src="~/images/auto2.jpg" alt="Visual Studio" class="img-responsive" />
        </div>
        <button type="button" class="row-auto-knopje" data-toggle="collapse" data-target="#details">View more</button>
    </div>
    <div class="row-auto-titel">
        <h2>@ViewData["carheader"]</h2>
    </div>
    <div class="row-auto-content">
        <div class="row-auto-content-col">
            <ul>
                @Html.Raw(ViewData["cardetails"])
                <li>asdghfgxfvbfg</li>
                <li>asdghfgxfvbfg</li>
            </ul>
        </div>
        <div class="row-auto-content-col">
            <ul>
                @Html.Raw(ViewData["cardetails"])
                <li>asdghfgxfvbfg</li>
                <li>asdghfgxfvbfg</li>
            </ul>
        </div>
    </div>
</div>
